# GitHub Actions Workflow for launching UI tests on Linux.
# Uses IntelliJ IDE Starter framework which manages the IDE lifecycle internally.
#
# Workflow is triggered manually.

name: Run UI Tests
on:
  workflow_dispatch:

  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
      - reopened

  push:
    branches:
      - main
      - develop

jobs:
  run-ui-test:
    name: Run UI Tests
    runs-on: ubuntu-latest
    steps:

      - name: Fetch Sources
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Run tests
        run: |
          ./gradlew integrationTest

      - name: Save fails report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: ui-test-fails-report
          path: |
            build/reports
            out/ide-tests/tests/**/log/**